* {
    font-family: 'Montserrat', sans-serif;
    color: {{fontColor}};
  	font-size: {{fontSize}}px;
    overflow: hidden;
}

#title {
  font-size: {{titleSize}}px;
  color:{{titleColor}};
  font-weight:bold;
  text-shadow: {{titleShadow}};
  width: 60%;
  text-align: center;
  transition: .5s ease;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bar-wrap {
  height: 30px;
  margin: 4px 0;
  position: relative;
  width: 100%;
}

.progress-bar {  
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

#progress-bar {
  width: {{tier1Size}}%;
  background-color: {{barColor}};
}

#progress-bar-tier2 {
  width: {{tier2Size}}%;
  left: {{tier1Size}}%;
  background-color: {{barColorTier2}};
  justify-content: space-between;
}

#progress-bar-tier3 {
  width: {{tier3Size}}%;
  left: calc({{tier1Size}}% + {{tier2Size}}%);
  background-color: {{barColorTier3}};
  justify-content: space-between;
}

#progress-fill {
  background-color: {{fillColor}};
}

#progress-fill-tier2 {
  background-color: {{fillColorTier2}};
}

#progress-fill-tier3 {
  background-color: {{fillColorTier3}};
}

.progress-fill {  
  display: inline-block;
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s ease;
}

#progress-current {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

#progress-goal {
  padding-right: 8px;
}

